/*** Fonts ***/
@font-face {
  font-family: "El Messiri";
  src: local("El Messiri"), url("./assets/fonts/ar/ElMessiri.ttf");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./assets/fonts/en/Roboto.ttf");
}

body {
  font-family: "Roboto", sans-serif;
}

body.rtl {
  font-family: "El Messiri", sans-serif;
}

.font-ar {
  font-family: "El Messiri", sans-serif !important;
}

.font-en {
  font-family: "Roboto", sans-serif !important;
}

/*** Overwrite default style ***/
.slick-track {
  margin-right: unset;
  margin-left: unset;
}

/*** Custom Style ***/
.stars-filter .star-ratings {
  top: -2px;
}

/*** Custom Classes ***/
.rounded-badge-sm {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

/*** Other ***/
body:has(div.loading-overlay.fullScreen) {
  overflow: hidden !important;
}
/** Loading Overlay **/
.loading-overlay {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 111;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-overlay.fullScreen {
  position: fixed;
  background-color: white;
}

.loading-overlay.transparent {
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes loading-animation {
  0% {
    opacity: 1;
    transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}
@keyframes l-spinner {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.l-spinner div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}
.l-spinner div:nth-child(1) {
  background: #ffc800;
  animation: l-spinner 1s linear infinite;
  animation-delay: -0.5s;
}
.l-spinner div:nth-child(2) {
  background: #3d464d;
  animation: l-spinner 1s linear infinite;
  animation-delay: 0s;
}
.l-spinner div:nth-child(3) {
  background: #dea712;
  animation: loading-animation 1s linear infinite;
  animation-delay: -0.5s;
}
.loading-spinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}
.l-spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.l-spinner div {
  box-sizing: content-box;
}

/** Lazy Load Image **/
.lazy-load-image-background,
.lazy-load-image-loaded {
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .product-details-img {
    width: 300px;
    height: 300px;
  }

  .product-img .lazy-load-image-background {
    width: 150px !important;
    height: 150px !important;
  }

  .product-img .lazy-load-image-background img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 991.98px) {
  .partner-img {
    height: auto !important;
  }
}
